<!DOCTYPE html>
<html ng-app="testApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="br-controls.js"></script>
  <script type="text/javascript">
    angular.module( "testApp", [ "br.controls" ] )
    .controller( "testCtrl", function(){});
  </script>
</head>

<body ng-controller="testCtrl">
  <form>
    <label>
      <input type="radio" class="br-radio" data-activate="'\'' + screen + '\' == \'screen1\''" ng-model="model.COLOR_RED" id="COLOR_RED" name="COLOR" value="1" br-false-value="0">
      <span>RED</span>
    </label>
    <label>
      <input type="radio" class="br-radio" data-activate="'\'' + screen + '\' == \'screen1\''" ng-model="model.COLOR_YELLOW" id="COLOR_RED" name="COLOR" value="1" br-false-value="0">
      <span>YELLOW</span>
    </label>
    <label>
      <input type="radio" class="br-radio" data-activate="'\'' + screen + '\' == \'screen1\''" ng-model="model.COLOR_GREEN" id="COLOR_RED" name="COLOR" value="1" br-false-value="0">
      <span>GREEN</span>
    </label>
  </form>  
  <hr>
  <table>
    <tbody>
      <tr>
        <td>COLOR_RED</td>
        <td>{{model.COLOR_RED}}</td>
      </tr>
      <tr>
        <td>COLOR_YELLOW</td>
        <td>{{model.COLOR_YELLOW}}</td>
      </tr>
      <tr>
        <td>COLOR_GREEN</td>
        <td>{{model.COLOR_GREEN}}</td>
      </tr>
    </tbody>
  </table>
</body>

</html>
